 <!-- {% extends 'layout.html' %}
 {% include 'navbar.html' %} 
{% block content %}
<h1 style="padding: 1%;margin: auto;text-align: center;">Registration-Form</h1>
<div style="margin:auto;height:200px;width:200px">
     for insert the file we use (enctype) without this u can't add file  
    <form name="frm" action="/insert" style="padding:0.5%;" method="POST" onsubmit=" return validation()"
        enctype="multipart/form-data">
        <label class="form-label" for="typeUsernameX">Username</label>
        <input type="text" name="xname" placeholder="Type here" index="0" id="xname" class="form-control"
            required="required" style="width: 250px;">
        <span id="usererror" class="text-danger font-weight-bold"></span><br>
        <label class="form-label" for="typeEmailX">Email</label>
        <input type="email" name="xmail" placeholder="Type here" required="required" id="xmail" class="form-control"
            style="width: 250px;">
        <span id="emailerror" class="text-danger font-weight-bold"></span><br>
        <label class="form-label" for="typePhoneX">Phone</label>
        <input type="tel" name="xphone" placeholder="Type here" required="required" id="xphone" class="form-control"
            style="width: 250px;padding:3px;">
        <span id="mobileerror" class="text-danger font-weight-bold"></span><br>
        <label class="form-label" for="typePasswordX">Password</label>
        <input type="password" name="xpass" placeholder="Type here" required="required" id="xpass" class="form-control"
            style="width: 250px;">
        <span id="passworderror" class="text-danger font-weight-bold"></span><br>
        <label class="form-label" for="typeVpasswordX">Verify Password</label>
        <input type="password" name="xvpass" placeholder="Type here" required="required" id="xvpass"
            class="form-control" style="width: 250px;">
        <span id="vpassworderror" class="text-danger font-weight-bold"></span><br>
        <input type="file" name="xfile" style="width: 250px;"><br><br>
        <button type="submit" name="xsub" class="btn btn-primary btn-sm ">Register</button>
    </form>
    {{session.message}}
</div>
{% endblock %} --> 